<app-back-button></app-back-button>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="post-form">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input id="postTitle" formControlName="postTitle" class="form-control" />
  </div>
  <div class="form-group">
    <label for="postDescription">Description</label>
    <textarea id="postDescription" formControlName="postDescription" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="reservationId">Select Your Reservation</label>
    <select id="reservationId" formControlName="reservationId" class="form-control">
      <option [ngValue]="null">No Reservation</option>
      <option *ngFor="let reservation of reservations" [ngValue]="reservation.reservationId">
        {{ reservation.fieldName ? reservation.fieldName + ' - ' : '' }}{{ reservation.startTime | date:'mediumDate' }} {{ reservation.startTime | date:'shortTime' }} - {{ reservation.endTime | date:'shortTime' }}
      </option>
    </select>
    <div class="error" *ngIf="postForm.get('reservationId')?.hasError('reservationExists')">
      Există deja o postare pentru această rezervare.
    </div>
  </div>
  <button type="submit" [disabled]="postForm.invalid" class="submit-button">Create Post</button>
</form>
